#Mac OS
.DS_Store

#Xcode
*.mode*
*.pbxuser
xcuserdata
*.xccheckout
*.xcuserstate

#Pods
Pods/*
Podfile.lock

#Config
config/fabric.apikey
config/fabric.buildsecret
config/api.url.dev
Resources/Debug/GoogleService-Info.plist
Resources/Release/GoogleService-Info.plist

#Others
*.generated.swift